<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>The Wall</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong> Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"> &times; </span>
            </button>
        </div>
        {% endfor %}

      <h3> Welcome to The Wall <h3> 


        {% if user.is_authenticated %}
        <h3> Hello {{firstname}} </h3>   
        <h4> you've successfully logged in</h4>
        <button type="submit"><a href="/signout"> Sign Out </a> </button>

        {% else %}
        <button type="submit"> <a href="/signup">SignUp</a> </button>
        <button type="submit"> <a href="/signin ">Sign  In</a>  </button>
        {% endif %} 
 

        
        <script src="" async defer></script>
    </body>
</html>